.gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card{
  border: 2px solid black;
  border-radius: 10px;
  /*text-align: center;*/
}

.App{
  text-align: center;
  padding: 3rem;
  margin: 0 auto;
}